/* Carousel Styles */
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 11rem;
  left: 15%;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  background-color: #000000ed;
  border-radius: 30px;
  animation-duration: 4s;
  animation-delay: 2s;
}

/* Nav Styles */
.nav-style {
  background-color: black !important;
  --bs-link-hover-color: #e24848;
}

/* Text Animation */
.animate-characters {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #ffffff 30%,
    #eb0e0e 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Animation Transion on Content */
.animate-transition {
  animation: 3s anim-lineUp ease-out;
}

.animate-transition-delay {
  animation: 6s anim-lineUp ease-out;
}

.animate-transition-delay-btn {
  animation: 8s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
